html,
body {
    height: 100%;
        font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrap > .navbar > .container {
    width: 100% !important;
}

.navbar-default {
    background: #e55b43 !important;
    color: white !important;
    font-weight: normal !important;
}
.navbar-default a{
    color: white !important;
    font-weight: normal !important;
}

.navbar-brand {
    background: url('../images/logo.png') center center no-repeat;
    height: 60px !important;
    width: 60px !important;
    border-bottom: 0px !important;
    text-indent: -9999px !important;
    overflow: hidden;
    margin-left: 20px !important;
}



.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
background: inherit !important;
border-bottom: 5px solid white;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 0;
}

.wrap > .container {
    /*padding: 0px 0px 20px;
    margin: 0;
    width: 100%;*/
}


.pro-lists{
    margin: 0 !important;
    padding: 0 5px !important;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

h2 {
text-align:center;

}

h3 {
text-align: left;

}


h4 {
text-align: center;

}
button {
margin-bottom: 10px;
margin-top: 10px;
}

td{
   font-size: 14px; 
}

th{

    font-size: 14px;
}

/*PROVEEDORES-FLOCK*/

.navbar-default {
    background: #e55b43 !important;
    color: white !important;
}

.contenedor {
        /*width: 100%;
        padding: 70px 0px 20px;*/
    color: #e55b43 !important;
    padding: 0px 0px 20px !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100%;


}

.proveedoresHeader{
    text-align: center;
}
    .proveedoresHeader h2 {
        font-size: 35px;
        margin: 40px 0 60px;
    }

.categorias{
    height: 100%;
    border-right: #ffffff 2px solid;
    background-color: #efeded;
    border-radius: 5px;
    padding-bottom: 20px;
}
    .categorias h3{
        font-size: 20px;
    }

    .btn-comparativo{
        color: #e55b43;
        background-color: #efeded;
        border-color: #e55b43;
        width: 100%;
        text-transform: uppercase;
    }
    .btn-comparativo:hover, .btn-comparativo.active{
        background-color: #e55b43;
        color: #ffffff;
    }

.skills{
    height: 100%;
    border-right: #ffffff 2px solid;
    background-color: #efeded;
    border-radius: 5px;
    padding-bottom: 20px;
}

    .skills h3{
        font-size: 20px;
    }


.btn-search{
    width: 100%;
}    
.proveedores{
    height: auto;
    
    background-color: #ffffff;
    
    padding-bottom: 20px;
    margin-top: 20px;
}


.proveedores ul{
    list-style: none;
    padding: 0;
}

.panel-proveedor .panel-heading{
    cursor: pointer;
}
.panel-proveedor .panel-body{
    display: none;
}



.btn{ white-space:normal !important; word-wrap:break-word; }

.btn-primary {
    background: #e55b43 !important;
    font-size: 15px;
}

.btn-success {
    background: #e55b43 !important;
    width: 105px !important;
    font-size: 15px;
}