
.text-core .text-wrap .text-tags {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;

  width: 100%;
  /*height: 35px;*/
  padding: 3px 5px 3px 3px;
  cursor: text;


}
.text-core .text-wrap .text-tags.text-tags-on-top {
  z-index: 2;

}
.text-core .text-wrap .text-tags .text-tag {
  float: left;

}
.text-core .text-wrap .text-tags .text-tag .text-button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  float: left;
  border: 1px solid #9daccc;
  background: #e55b43!important;
  color: white;
  padding: 5px 17px 5px 3px;
  margin: 0 2px 2px 0;
  cursor: pointer;
  height: auto;
  font: 13px "lucida grande", tahoma, verdana, arial, sans-serif;
}
.text-core .text-wrap .text-tags .text-tag .text-button a.text-remove {
  position: absolute;
  right: 3px;
  top: 2px;
  display: block;
  width: 11px;
  height: 11px;
  background: url("close.png") 0 0 no-repeat;
}
.text-core .text-wrap .text-tags .text-tag .text-button a.text-remove:hover {
  background-position: 0 -11px;
}
.text-core .text-wrap .text-tags .text-tag .text-button a.text-remove:active {
  background-position: 0 -22px;
}
.text-tags.text-tags-on-top{
height: 100%;


}